<a href="https://colab.research.google.com/github/JoshuaMadriaga/OOP009-group4/blob/main/HOA1_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x = float(1)
a, b = 0, -1
a, b, c = "katrina", "Rue", "Nate"

print('This a sample')
print(a)
print(b)

This a sample
katrina
Rue

In [4]:
y = "Romblon"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

In [5]:
h = 'baby, goodnight'
v  = 1
V = 3

print(h)
print(v)
print(v+1)

baby, goodnight
1
2

In [6]:
x, y, z = "I", "Miis", 'You'

print(x)
print(y)
print(z)
print(x,y,z)

I
Miis
You
I Miis You

In [7]:
x = y = z = "Hello"
print(x,y,z)
print(x)
print(y)
print(z)

Hello Hello Hello
Hello
Hello
Hello

In [8]:
x = "Python"
y = "I Love"

print("I love " + x)
print(y + " " + x)

I love Python
I Love Python

In [10]:
m = 5
o = 2
n = 7

print(m+n)
print(m-n)
print(o*n)
print(int(m/o))
print(5/m)
print(5%m)
print(5//m)
print(5**2)

12
-2
14
2
1.0
0
1
25

In [11]:
k=2
l=3
print(k>>2)
print(k<<2)

0
8

In [12]:
t=1
v=2

print(t>v)
print(v==t)

False
False

In [13]:
print(v<t and t==t)
print(v<t or t==v)
print(not (v<t or t==v))

False
False
True

In [15]:
print(v is k)
print(v is not k)

True
False